<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>品牌修改</title>
	    <meta name="keywords" content="">
	    <meta name="description" content="">
	    <link href="/css/font-awesome.css?v=4.4.0" rel="stylesheet">
	    <link rel="shortcut icon" href="favicon.ico"> 
	    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
	    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
	    <link href="/css/plugins/chosen/chosen.css" rel="stylesheet">
	    <link href="/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
	    <link href="/css/plugins/cropper/cropper.min.css" rel="stylesheet">
	    <link href="/css/plugins/switchery/switchery.css" rel="stylesheet">
	    <link href="/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
	    <link href="/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
	    <link href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
	    <link href="/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
	    <link href="/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
	    <link href="/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
	    <link href="/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
	    <link href="/css/animate.css" rel="stylesheet">
	    <link href="/css/style.css?v=4.1.0" rel="stylesheet">
	    <style type="text/css">
			#upload {
				position: absolute;
				top: 80px;
				left: 150px;
			}
			.uploadImg{
				border:1px solid #999C9E; 
				width: 80px;
				height: 80px;
				cursor: pointer;
			}
		</style>
		<script type="text/javascript">
			//图片上传
			function chageImg(){
				$.ajaxFileUpload({
							url : '',//处理上传图片的Servlet接口url
							secureuri : false,//异步
							fileElementId : "uploadImg",//上传控件ID
							dataType : 'json',//返回的数据信息格式
							success : function(data, status) {
								if(data.code=='0'){
									document.getElementById("lbimg").src=data.data.src;
								}else if(data.code=='1'){
									alert("上传失败");
								}
							},
							error: function (data, status, e)//服务器响应失败处理函数
		                    {
								alert("上传失败");
		                    }
				});
			}
		</script>
	</head>
	<body class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>品牌修改</h5>
						</div>
						<div class="ibox-content">
							<form class="form-horizontal m-t" id="signupForm">
								<div class="col-md-12">
									<div class="form-group">
										<label class="col-sm-3 control-label">品牌名称：</label>
										<div class="col-sm-9">
											<input type="text" placeholder="" style="width:200px;height: 35px;" />
											<span class="help-block m-b-none"></span>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="col-sm-3 control-label">品牌logo：</label>
										<div class="col-sm-9">
											<input type="file" name="file"  id="uploadImg" style="display: none;" onchange="chageImg()">
											<img id="lbimg" class="uploadImg" src="img/webuploader.png" onclick="uploadImg.click()" />
											<span class="help-block m-b-none">尺寸为：80*80像素，jpg/png格式</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-3">
										<button class="btn btn-info" type="submit">提交</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


		    <!-- 全局js -->
	    <script src="js/jquery.min.js?v=2.1.4"></script>
	    <script src="js/bootstrap.min.js?v=3.3.6"></script>
	    <!-- 自定义js -->
	    <script src="js/content.js?v=1.0.0"></script>
	    <!-- jQuery Validation plugin javascript-->
	    <script src="js/plugins/validate/jquery.validate.min.js"></script>
	    <script src="js/plugins/validate/messages_zh.min.js"></script>
	    <!-- Chosen -->
	    <script src="js/plugins/chosen/chosen.jquery.js"></script>
	    <!-- JSKnob -->
	    <script src="js/plugins/jsKnob/jquery.knob.js"></script>
	    <!-- Input Mask-->
	    <script src="js/plugins/jasny/jasny-bootstrap.min.js"></script>
	    <!-- Data picker -->
	    <script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>
	    <!-- Prettyfile -->
	    <script src="js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
	    <!-- NouSlider -->
	    <script src="js/plugins/nouslider/jquery.nouislider.min.js"></script>
	    <!-- Switchery -->
	    <script src="js/plugins/switchery/switchery.js"></script>
	    <!-- IonRangeSlider -->
	    <script src="js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
	    <!-- iCheck -->
	    <script src="js/plugins/iCheck/icheck.min.js"></script>
	    <!-- MENU -->
	    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
	    <!-- Color picker -->
	    <script src="js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
	    <!-- Clock picker -->
	    <script src="js/plugins/clockpicker/clockpicker.js"></script>
	    <!-- Image cropper -->
	    <script src="js/plugins/cropper/cropper.min.js"></script>
	    <script src="js/demo/form-advanced-demo.js"></script>
	</body>
</html>
